.form_conatiner{
    border: 0px solid;
    padding: 80px 100px;
    /* margin-top: 9vh; */
    border: solid 2px #ececec;
    border-radius: 1em;
    /* -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75); */
    
}
#new-board-btn {
    padding-right: 43vh;
}
