#contenedor{
    margin: 3em 1em 2em 3em;
    
}

#contenedorProductos{
    width: 69%; 
    float: left;
   
    vertical-align: super;
    padding: 10px;
    
}
#barraProduct{
    background-color: #f7f7f7;
    height: 50px;
    padding: 10px 10px 10px 10px;
    font-size: 13px;
    
}
#linkShop{
    
    color: #5c79fc;
    font-weight: 800;
    text-align: right;
  float: left;
    width: 45%;
    margin-right: 0px;
    
}
#tit{
    float: left; width:40%;
}
.card-imagen{
    width: 130px;
    height: 130px;
    
}
.card{
    padding: 24px 0px;
   border-bottom:  1px solid #e7e7e7 !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;

}

.card-text{
    margin: 5px;
    font-size: 14px;
}
.etiqueta{
    color: #888888;

}
.descripcion{
    color: #404040;

}
.estiloPrecio{
    font: 800;
    font-size: 16px;
    padding: 8px 0px 0px;
    color: #5c77fc;
}
.btn {
    border-radius: 0;
    font-family: 'Muli', sans-serif;
    font-size: 13px;
    height: 25px;
    vertical-align: middle;
    width: 100%;
    margin: 5px;
    
}
.form-control{
    border-radius: 0;
    height: 25px;
    margin: 5px;
    width: 100%;
}
#text-nota{
    height: 130px;
}



#contenedorCompra{
    width: 25%; 
    display: inline-block;
    
    height: auto;
    vertical-align: super;
    padding: 10px 10px 10px 10px;
  
}
#barraProduct2{
    background-color: #f7f7f7;
    height: 50px;
    padding: 10px 10px 10px 10px;
    font-size: 13px;
    
}
#barraProduct2 p{
    font: 900;
   text-align: center;
   vertical-align: super;
}
.card2{
    border-bottom:  1px solid #e7e7e7;
}
.card2 #precio{
    font-size: 25px;
    text-align: center;
    font: 900;
}
#checkout{
    width: 100%;
    height: 30px;
    background-color: #5c77fc;
    border-color: #5c77fc;
    
    
}
#sinPro{
    margin: 10px 0px;
}
#refe{
    color: white;
    text-decoration: none;
}
#nota{
    width: 30px;
    height: 15px;
    padding: 0;
    font-size: 9px;
   
    
}