.product-card {
    position: relative;
    width: 100%;
    max-width: 20rem;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
}
.carousel-inner{
    border-radius: 1em;
}

.card:hover {
    box-shadow: rgba(150, 150, 150, 0.5) 5px 5px 5px 5px;
}

.product-thumb-link {
    min-height: 458px;
    max-height: 458px;
}

.product-thumb-link img {
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    padding: 5px;
    position: relative;
}

.nombre-producto {
    display: inline-block;
    margin-bottom: .25rem;
    -webkit-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out;
    color: #888;
    font-size: .8125rem;
}

.descripcion-producto {
    color: darkslategray;
}

.product-link p:hover {
    text-decoration: none;
}

.ordenar-bloque {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 5px;
}

.cant-anadir {
    flex: 2;
    max-width: 30%;
}

.btn-anadir {
    flex: 1;
    max-width: 30%;
}

.precio-producto {
    flex: 1;
}

.slider {
    align-content: center;
    height: 500px;
}

.carousel-inner>.carousel-item>img {
    top: 0;
    left: 0;
    min-height: 100%;
    height: 500px;
    max-height: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}